<!-- <div class="container-fluid">
  <h4 class="fw-semibold mb-4">My Bookings</h4>

  <ul class="nav nav-pills mb-4">
    <li class="nav-item">
      <a class="nav-link active" routerLink="history">History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="calendar">Calendar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="book">Book Classes / Trainers</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div> -->

<!-- <nav
  class="sidebar d-flex flex-column p-3 text-white">
  <ul class="nav nav-pills mb-4">
    <li class="nav-item">
      <a class="nav-link" routerLink="/history" routerLinkActive="active">
      <span>History</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/calendar" routerLinkActive="active"
        >Calendar</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/book" routerLinkActive="active"
        >Book Classes / Trainers</a
      >
    </li>
  </ul>

  <router-outlet></router-outlet>
</nav>
<h4 class="fw-semibold mb-4">My Bookings</h4> -->


<!-- <div class="container-fluid">

  <h4 class="fw-semibold mb-3">My Bookings</h4>

  <ul class="nav chrome-tabs mb-0">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/user/dashboard/bookings/history']"
        routerLinkActive="active"
      >
        📜 History
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/user/dashboard/bookings/calendar']"
        routerLinkActive="active"
      >
        📅 Calendar
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/user/dashboard/bookings/book']"
        routerLinkActive="active"
      >
        ➕ Book Classes / Trainers
      </a>
    </li>
  </ul>

  <div class="tab-content-container p-4">
    <router-outlet></router-outlet>
  </div>

</div> -->


<!-- <div class="container-fluid">

  <h4 class="fw-semibold mb-3">My Bookings</h4>

  <div class="chrome-tabs-wrapper">
    <ul class="nav chrome-tabs">
      <li class="nav-item">
        <a
          routerLink="/user/dashboard/bookings/history"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
        >
          📜 History
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/user/dashboard/bookings/calendar"
          routerLinkActive="active"
        >
          📅 Calendar
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/user/dashboard/bookings/book"
          routerLinkActive="active"
        >
          ➕ Book Classes / Trainers
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content-container p-4">
    <router-outlet></router-outlet>
  </div>

</div> -->


<div class="container-fluid py-4 bg-light min-vh-100">

  <h4 class="fw-semibold mb-3">My Bookings</h4>

  <!-- TAB BAR -->
  <div class="chrome-tabs-wrapper">
    <ul class="nav chrome-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/user/dashboard/bookings/calendar"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Calendar
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/user/dashboard/bookings/book"
          routerLinkActive="active"
        >
          Book Classes / Trainers
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/user/dashboard/bookings/history"
          routerLinkActive="active"
        >
          History
        </a>
      </li>
    </ul>
  </div>

  <!-- CONTENT -->
  <div class="tab-content-container p-4">
    <router-outlet></router-outlet>
  </div>

</div>
