






<div *ngIf="loading" class="text-center py-5">
  <div class="spinner-border text-primary"></div>
</div>

<div *ngIf="!loading" class="calendar-wrapper">

  
  <div class="calendar-nav">
    <button data-testid="calendar-prev-week" class="nav-btn" (click)="prevWeek()">‹</button>
    <span class="fw-semibold">{{ monthLabel }}</span>
    <button data-testid="calendar-next-week" class="nav-btn" (click)="nextWeek()">›</button>
  </div>

  
  <div class="calendar-grid">

    <div></div>
    <div *ngFor="let d of weekDates" class="calendar-header">
      {{ d | date:'EEE dd' }}
    </div>

    <ng-container *ngFor="let time of timeSlots">
      <div class="time-label">{{ time }}</div>

      <div
        data-testid="calendar-cell"
        *ngFor="let d of weekDates"
        class="calendar-cell"
        [class.class-booking]="isClass(d,time)"
        [class.past-day]="isPast(d)"
        (click)="getBooking(d,time) && openBooking(getBooking(d,time))"
      >
        {{ getBooking(d,time)?.title }}
      </div>
    </ng-container>
  </div>

  
  <div class="calendar-legend">
    <div><span class="dot class"></span> Class booking</div>
  </div>

</div>


<app-booking-calendar-modal
  *ngIf="selectedBooking"
  [booking]="selectedBooking"
  (close)="closeModal()"
  (cancel)="cancelBooking($event)">
</app-booking-calendar-modal>