<!-- <h4 class="fw-semibold mb-4">
  {{ branch.name }} — Choose booking type
</h4>

<div class="row g-4">
  <div class="col-md-6">
    <div class="mode-card class" (click)="chooseClass()">
      <h2>Classes</h2>
      <p>Group training sessions</p>
    </div>
  </div>

  <div class="col-md-6">
    <div class="mode-card trainer" (click)="chooseTrainer()">
      <h2>Personal Trainer</h2>
      <p>1-on-1 coaching</p>
    </div>
  </div>
</div>

<button class="btn btn-link mt-4" (click)="back.emit()">← Back</button> -->

<div class="mode-header mb-4 d-flex align-items-center">
  <button
    class="back-btn me-3"
    type="button"
    (click)="back.emit()"
    aria-label="Go back"
  >
    <i class="bi bi-arrow-left"></i>
  </button>
  <h5 class="fw-semibold mb-0">
    {{ branch.name }} — Choose your class type preference!
  </h5>
</div>

<div class="mode-grid">
  <!-- CLASSES -->
  <div
    class="mode-card class"
    [class.disabled]="disabled"
    (click)="choose('class')">
    <div class="overlay">
      <h2>Classes</h2>
      <p>Group sessions</p>
    </div>
  </div>

  <!-- TRAINERS -->
  <div
    class="mode-card trainer"
    [class.disabled]="disabled"
    (click)="choose('trainer')">
    <div class="overlay">
      <h2>Trainers</h2>
      <p>1-on-1 coaching</p>
    </div>
  </div>
</div>

<div *ngIf="disabled" class="text-danger mt-3">
  Membership required to continue.
</div>
