<section class="stats-bar text-center py-4">
  <div class="container">
    <div class="row g-4">
      <div class="col-6 col-md-3">
        <h4>5000+</h4>
        <small>Active Members</small>
      </div>
      <div class="col-6 col-md-3">
        <h4>50+</h4>
        <small>Expert Trainers</small>
      </div>
      <div class="col-6 col-md-3">
        <h4>100+</h4>
        <small>Weekly Classes</small>
      </div>
      <div class="col-6 col-md-3">
        <h4>10+</h4>
        <small>Years Experience</small>
      </div>
    </div>
  </div>
</section>